%h1 Calculator: substract
%form{:action => "/calculate_substract", :method => "POST"}
	%label{:for => "input_number1"} Number 1 
	%input{:type => "number", :name => "first_number", :id => "input_number1", :placeholder => " Insert number 1"}
	%span + 
	%label{:for => "input_number2"}  Number 2 
	%input{:type => "number", :name => "second_number", :id => "input_number2", :placeholder => " Insert number 2"}
	%button{:type => "submit", :id => "substract_button", :value => "substract"} Calculate Substract